#TablePagination{
    color: rgb(255, 0, 43);
    
    float:right;
    background-color:wheat;
    padding:0;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 4px solid red;
    border-radius: 30px;
}